<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<title>GitScoring</title>
	</head>
	<body>
		<h4> {{ project }}: </h4>
		<h5> Los usuarios son: </h5>
		<p src="/{{ project }}/users">Cargando...</p>

		<script src="/js/main.js"></script>
	</body>
</html>