<html>
	<head>
		<title>GitScoring</title>
	</head>
	<body>
		<h4>Bienvenidos al {{ name }}</h4>

		<div>
			Selecciona el proyecto que quieres visualizar 
			<ul>
				<li><a href= 'Dokify/dokify' >dokify</a></li>
			</ul>
		</div>
	</body>
</html>